@charset "utf-8";
html, body {
    font-family: 'Fjalla One','Noto Sans KR', sans-serif;
    color: #fff;
}
/* 지정 너비 적용 클래스 */
.m14 {
    margin: 0 18px;
}
.w1440 {
    width: 1440px;
    margin: 0 auto;
}

/* 공통 CSS */
.sys {
    padding-top: 140px;
}
h2 {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    float: left;
}
h2 .title {
    font-size: 120px;
    font-family: 'Fjalla One',sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    padding-right: 86px;
    float: left;
}
h2 p {
    font-size: 18px;
    padding-left: 50px;
    font-weight: 300;
    line-height: 1.6;
    padding-top: 13px;
    float: left;
}
.btn {
    margin-top: 38px;
    padding-top: 20px;
    text-align: center;
    background: #fda75e;
    width: 170px;
    height: 62px;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* 0. HOME */
.section1 {
    background: url('../images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding-top: 36px;
}
.logo {
    /* 플롯 */
    float: left;
}
.logo img {
    padding-top: 2px;
}
.gnb {
    /* 플롯 */
    float: right;
}
.gnb li {
    /* 플롯 */
    float: left;
    margin-top: 10px;
    margin-left: 80px;
    transition: all 0.8s;
    transform: scale(1);
}
.gnb li a {
    font-family: 'Fjalla One',sans-serif;
    color: #fff;
    font-size: 20px;
}
.gnb li:hover {
    transform: scale(1.2);
}
.home_txt h3 {
    margin-top: 169px;
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
}
.home_txt h3+h3 {
    margin-top: 30px;
}
.home_txt h3 span {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: #9138af;
}
/* 추가코딩 */
hr {
    margin-top: 189px;
    background: #fff;
    height: 1px;
    width: 80%;
    opacity: 0.8;
    /* 플롯 */
    float: left;
}
.bottom_gnb {
    margin-top: 177px;
    font-family: 'Fjalla One',sans-serif;
    color: #fff;
    font-size: 20px;
    /* 플롯 */
    float: right;
}
.bottom_gnb li {
    margin-left: 50px;
    transition: all 0.8s;
    transform: scale(1);
    /* 플롯 */
    float: right;
}
.bottom_gnb li:hover {
    transform: scale(1.2);
}

/* I. Section */
.section2 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../images/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 .sys {
    padding-top: 130px;
}
.section2 p {
   margin-top: -17px;
}
.section2 .btn, .btn2 {
    /* margin-top: 38px; */
    margin-top: -18px;
    padding-top: 20px;
    text-align: center;
    background: #fda75e;
    width: 170px;
    height: 62px;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.btn2 {
    margin-top: 20px;
}


/* II. Section */
.section3 {
    background: url('../images/img2.jpg') no-repeat;
    background-size: cover;
}
.section3 .btn {
    background: #091221;
}

/* III. Section */
.section4 {
    background: url('../images/img3.jpg') no-repeat;
    background-size: cover;
}
.section4 .btn {
    background: #01494e;
}

/* IV. Section */
.section5 {
    background: url('../images/img4.jpg') no-repeat;
    background-size: cover;
}
.section5 h3+h3,
.section6 h3+h3,
.section8 h3+h3,
.section9 h3+h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    padding-top: 23px;
    color: #fff;
}
.m_btn, .m_btn2 {
    margin-top: 68px;
    padding-top: 20px;
    text-align: center;
    background: #2e5f1e;
    width: 170px;
    height: 62px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.m_btn2 {
    margin-left: 30px;
    background: #ff696d;
}
.m_title {
    margin-top: 20px;
    font-size: 120px;
    font-family: 'Fjalla One',sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    color: #fff;
}

/* V. Section */
.section6 {
    background: url('../images/img5.jpg') no-repeat;
    background-size: cover;
}
.section6 .m_btn {
    background: #ff696d;
    float: left;
}
.section6 .m_btn2 {
    float: left;
}

/* VI. Section */
.section7 {
    background: url('../images/img6.jpg') no-repeat;
    background-size: cover;
}

.section7 h2 .title {
    margin-top: -66px;
    font-size: 120px;
    letter-spacing: -2px;
    padding-right: 90px;
}
.section7 h2 p {
    font-size: 18px;
    padding-left: 50px;
    line-height: 1.6;
    padding-top:0;
    margin-top: -40px;
}
.section7 .btn {
    margin-top: 10px;
    background: #222;
}

/* VII. Section */
.section8 {
    background: url('../images/img7.jpg') no-repeat;
    background-size: cover;
    padding-top: 40px;
}
.section8 .m_btn {
    background: #10242a;
}
.section8 h3 .m_title {
    letter-spacing: 0;
}

/* VIII. Section */
.section9 {
    background: url('../images/img8.jpg') no-repeat;
    background-size: cover;
    padding-top: 30px;
}
.section9 .m_btn {
    margin-top: 50px;
    background: #141416;
}

/* VIIII. Section */
.section10 {
    line-height: 1.4;
    text-align: left;
    background: linear-gradient(48deg, #ffc3a0, #ffafbd);
}
.section10 h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4.2%;
    font-size: 3rem;
    float: none;
}

.contact {
    margin-top: 42px;
    margin-top: 4%;
}
.alt dt {
    font-size: 1.4rem;
    margin-top: 10px;
}
.alt dd {
    font-weight: 300;
    font-family: 'Noto Sans KR', sans-serif;
}
.message, .contact_wrap {
    width: 44%;
    float: left;
}
.about {
    margin-left: 10px;
    float: right;
}
.contact_wrap {
    width: 30%;
    float: right;
}

/* Icons */
.icons {
    margin-top: 18px;
    margin-bottom: 20px;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.65rem 0 0;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}

/* Icon */

.icon {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    text-transform: none !important;
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
}

.icon > .label {
    display: none;
}

.icon:before {
    line-height: solid;
}

.icon.solid:before {
    font-weight: 900;
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

.icon.major {
    border: solid 1px;
    display: inline-block;
    border-radius: 100%;
    padding: 0.65rem;
    margin: 0 0 4rem 0;
    cursor: default;
}

.icon.major:before {
    display: inline-block;
    font-size: 8.6rem;
    width: 3.1rem;
    height: 3.1rem;
    line-height: 3.1rem;
    border-radius: 100%;
    border: solid 1px;
    text-align: center;
}

.icon.alt {
    display: inline-block;
    border: solid 1px;
    border-radius: 100%;
}

/* Icon Size */
.icon.alt:before {
    color: #fff;
    display: block;
    font-size: 2.2rem;
    width: 4.1rem;
    height: 4.1rem;
    text-align: center;
    line-height: 4.1rem;
}

@media screen and (max-width: 1680px) {

    .icon.major:before {
        font-size: 5.5rem;
    }

}

@media screen and (max-width: 1280px) {

    .icon.major:before {
        font-size: 4.75rem;
    }

}

@media screen and (max-width: 736px) {
    .icons {
        /* margin-left: 0; */
    }
    .icon.major {
        margin: 0 0 1.5rem 0 ;
        padding: 0.35rem;
    }

    .icon.major:before {
        font-size: 4.8rem;
    }

}

.icon.major {
    border-color: rgba(255, 255, 255, 0.35);
}

.icon.major:before {
    border-color: rgba(255, 255, 255, 0.35);
}

.icon.alt {
    border-color: rgba(255, 255, 255, 0.5);
    color: #222;
}

.icon.alt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

.icon.alt:active {
    background-color: rgba(255, 255, 255, 0.2);
}
label {
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    margin: 12px 0 2px 0;
    display: block;
    font-size: 1.4rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.25em;
    border: none;
    border: solid 1px rgba(255, 255, 255, 0.15);
    color: inherit;
    display: block;
    outline: 0;
    padding: 8px;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}
.actions {
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    width: 180px;
    margin-top: 20px;
    padding: 13px 10px;
    border: solid 1px rgba(255, 255, 255, 0.8);
}
.actions:hover {
    background-color: rgba(255, 255, 255, 0.12);
}