@charset "utf-8";
.w1440 {
    width: 1440px;
    margin: 0 auto;
}

/* 공통 CSS */
.sys {
    padding-top: 140px;
}
h2 {
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    float: left;
}
h2 .title {
    font-size: 120px;
    font-family: 'Fjalla One',sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    padding-right: 86px;
    float: left;
}
h2 p {
    font-size: 18px;
    padding-left: 50px;
    font-weight: 300;
    line-height: 1.6;
    padding-top: 13px;
    float: left;
}
.btn {
    margin-top: 38px;
    padding-top: 20px;
    text-align: center;
    background: #fda75e;
    width: 170px;
    height: 62px;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/* 0. HOME */
.section1 {
    background: url('../images/home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    padding-top: 36px;
}
.logo {
    /* 플롯 */
    float: left;
}
.logo img {
    padding-top: 2px;
}
.gnb {
    /* 플롯 */
    float: right;
}
.gnb li {
    /* 플롯 */
    float: left;
    margin-top: 10px;
    margin-left: 80px;
    transition: all 0.8s;
    transform: scale(1);
}
.gnb li a {
    font-family: 'Fjalla One',sans-serif;
    color: #fff;
    font-size: 20px;
}
.gnb li:hover {
    transform: scale(1.2);
}
.home_txt h3 {
    margin-top: 169px;
    color: #fff;
    font-size: 72px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
}
.home_txt h3+h3 {
    margin-top: 30px;
}
.home_txt h3 span {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: #9138af;
}
/* 추가코딩 */
hr {
    margin-top: 189px;
    background: #fff;
    height: 1px;
    width: 80%;
    opacity: 0.8;
    /* 플롯 */
    float: left;
}
.bottom_gnb {
    margin-top: 177px;
    font-family: 'Fjalla One',sans-serif;
    color: #fff;
    font-size: 20px;
    /* 플롯 */
    float: right;
}
.bottom_gnb li {
    margin-left: 50px;
    transition: all 0.8s;
    transform: scale(1);
    /* 플롯 */
    float: right;
}
.bottom_gnb li:hover {
    transform: scale(1.2);
}

/* I. Section */
.section2 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../images/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 .sys {
    padding-top: 130px;
}
.section2 p {
   margin-top: -17px;
}
.section2 .btn, .btn2 {
    /* margin-top: 38px; */
    margin-top: -14px;
    padding-top: 20px;
    text-align: center;
    background: #fda75e;
    width: 170px;
    height: 62px;
    color: white;
    float: right;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.btn2 {
    margin-top: 20px;
}


/* II. Section */
.section3 {
    background: url('../images/img2.jpg') no-repeat;
    background-size: cover;
}
.section3 .btn {
    background: #091221;
}

/* III. Section */
.section4 {
    background: url('../images/img3.jpg') no-repeat;
    background-size: cover;
}
.section4 .btn {
    background: #01494e;
}

/* IV. Section */
.section5 {
    background: url('../images/img4.jpg') no-repeat;
    background-size: cover;
}
.section5 h3+h3,
.section6 h3+h3,
.section8 h3+h3,
.section9 h3+h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    padding-top: 23px;
    color: #fff;
}
.m_btn {
    margin-top: 84px;
    padding-top: 20px;
    text-align: center;
    background: #2e5f1e;
    width: 170px;
    height: 62px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.m_title {
    margin-top: 20px;
    font-size: 120px;
    font-family: 'Fjalla One',sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    color: #fff;
}

/* V. Section */
.section6 {
    background: url('../images/img5.jpg') no-repeat;
    background-size: cover;
}
.section6 .m_btn {
    background: #ff696d;
}

/* VI. Section */
.section7 {
    background: url('../images/img6.jpg') no-repeat;
    background-size: cover;
}

.section7 h2 .title {
    margin-top: -66px;
    font-size: 120px;
    letter-spacing: -2px;
    padding-right: 90px;
}
.section7 h2 p {
    font-size: 18px;
    padding-left: 50px;
    line-height: 1.6;
    padding-top:0;
    margin-top: -40px;
}
.section7 .btn {
    margin-top: 10px;
    background: #222;
}

/* VII. Section */
.section8 {
    background: url('../images/img7.jpg') no-repeat;
    background-size: cover;
    padding-top: 40px;
}
.section8 .m_btn {
    background: #10242a;
}
.section8 h3 .m_title {
    letter-spacing: 0;
}

/* VIII. Section */
.section9 {
    background: url('../images/img8.jpg') no-repeat;
    background-size: cover;
    padding-top: 30px;
}
.section9 .m_btn {
    margin-top: 50px;
    background: #141416;
}
