@charset "utf-8";
body,html {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
/* 배경 Video */
.vid {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -99;
}
.vid video {
    width: 100%;
    height: 100%;
    height: auto;
}
/* 우측상단 SNS */
#sns {
    position: fixed;
    right: 40px;
    top: 50px;
}
#sns li {
    display: inline-block;
}
#sns li i {
    font-size: 30px;
    color: #5c6a73;
    padding-left: 20px;
    opacity: 0.8;
    transition: all 0.5s;
    transform: scale(1);
}
/* sns Hover */
#sns li:hover i {
    transform: scale(1.2);
    opacity: 1;
}

/* Header 왼쪽메뉴 */
header {
    width: 700px;
    height: 100%;
    /* 포지션 */
    position: fixed;
    left: -420px;
    top: 0;
    z-index: 3;
    background: #5c6a73;
    background: rgba(23, 41, 52, 0.8);
    transform: skewX(-40deg);
}
header h1 {
    /* 포지션 */
    position: absolute;
    right: 460px;
    top: 40px;
    /* 로고 바로 세우기 */
    transform: skewX(40deg);
}
header img {
    width: 100px;
}
#gnb {
    /* 포지션 */
    position: absolute;
    right: 0;
    top: 180px;
}
/* 메뉴 1depth */
#gnb li a {
    display: block;
    width: 200px;
    color: #fff;
    font: bold 18px/3.4 'merriweather', sans-serif;
    text-align: center;
    padding-right: 40px;
}
#gnb li:hover a {
    background-color: #14242e;
    color: #fff;
}
#gnb em {
    display: inline-block;
    transform: skewX(40deg);
}
#gnb li {
    /* 2depth 위치기준값 */
    position: relative;
}
/* 메뉴 2depth */
#gnb .snb {
    /* 포지션 */
    position: absolute;
    left: 0;
    top: 0;
    /* 2depth 안보이다가 보이도록 */
    opacity: 0;
    transition: all 0.5s;
}
#gnb .snb a {
    text-align: center;
    display: block;
    width: 200px;
    height: 40px;
    color: #fff;
    border-bottom: 1px solid #b5c8d3;
    text-indent: 2em;
    margin-bottom: 3px;
}
/* 2depth Hover */
#gnb .snb li:hover>a {
    background: #5c6a73;
    color: #fff;
}
/* 1depth를 호버하면 2depth가 나오는 효과 */
#gnb li:hover .snb {
    left: 180px;
    opacity: 0.8;
}

/* 이미지 텍스트 */
.txt {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    position: fixed;
    right: 4.6875vw;
    top: 29.769392vh;
    z-index: 1;
}
.txt .p1 {
    text-align: right;
    font-size: 11.949686vh;
    color: #fff;
    font-weight: 700;
    letter-spacing: -1px;
}
.txt .p2 {
    margin-top: 10px;
    font-family: 'Noto Sans KR', serif;
    text-align: right;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -2px;
    color: #fff;
    opacity: 0.9;
}

/* 우측하단 호버 버튼 */
#side {
    width: 800px;
    height: 100%;
    background: #111;
    position: fixed;
    right: -800px;
    top: 0;
    transform: skewX(-40deg);
    opacity: 0.5;
    transition: all 0.5s;
    cursor: pointer;
}
#side:hover {
    right: -500px;
    opacity: 0.8;
}
#side .inner {
    width: 400px;
    height: 100%;
    background: #000;
    position: absolute;
    left: 150px;
    top: 0;
    transition: all 1s;
}
#side:hover .inner {
    left: 50px;
}
/* 이미지 버튼 */
#side .inner p {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 50px;
    transform: translateX(200px);
}
#side .inner p img {
    width: 298px;
    /* 298/1920*100=15.520833 */
    width: 15.520833vw;
    height: 80px;
    /* 80/954*100=8.385744 */
    height: 8.385744vh;
    opacity: 0.3;
    transition: all 0.5s;
}
#side .inner p img:hover {
    opacity: 1;
}
/* 이미지 버튼 각각 위치설정 */
#side .inner p:nth-child(1) {
    bottom: 270px;
    transition: all 0.4s;
}
#side .inner p:nth-child(2) {
    bottom: 160px;
    transition: all 0.8s;
}
#side .inner p:nth-child(3) {
    bottom: 50px;
    transition: all 1.2s;
}
#side .inner p>em {
    display: inline-block;
    font: bold 16px/1.6 Arial, sans-serif;
    color: #5c6a73;
    transform: skewX(40deg);
}
#side:hover .inner p {
    transform: translateX(0px);
}

/* 애니메이션 화살표 */
#side .arrBtn {
    /* 포지션 */
    position: absolute;
    left: 240px;
    bottom: 40px;
    z-index: 999;
    transform: skewX(40deg);
}
#side .arrBtn i {
    font-size: 60px;
    transform: scaleX(-1);
    color: #5c6a73;
    /* 포지션 */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
}
#side .arrBtn i:nth-child(1) {
    animation: arrowAni linear 1.5s 0s infinite;
}
#side .arrBtn i:nth-child(2) {
    animation: arrowAni linear 1.5s 0.5s infinite;
}
#side .arrBtn i:nth-child(3) {
    animation: arrowAni linear 1.5s 1s infinite;
}

/* 애니메이션 키프레임 */
@keyframes arrowAni {
    from {
        opacity: 1;
        transform: scale(1);
        transform: scaleX(-1);
        right: 0;
    }
    to {
        opacity: 0;
        transform: scale(1.2);
        transform: scaleX(-1);
        right: 170px;
    }
}

/* 추가 */
button i {
    font-size: 30px;
    color: #fff;
}
.vid .control_btn {
    position: absolute;
    left: 80px;
    top: 91.194969vh;
    cursor: pointer;
}
.vid .control_btn i {
    width: 60px;
}

