@charset "utf-8";
html, body {
    scroll-behavior: smooth;
}
#wrap {
    width: 100%;
    border: none;
}

/* Contents */
/* Search Form */
#contents form {
    margin-top: 12px;
}

/* Contents Section */
.title h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding-top: 20px;
}
#contents {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: normal;
    color: #fff;
}
#contents img {
    width: 100%;
}
.cast ul li {
    text-align: center;
    color: #fff;
    width: 48%;
    /* 플롯 */
    float: left;
}
.cast ul li:first-child {
    margin-right: 4%;
}
.cast ul {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 18px;
}
.cast ul:last-child li {
    width: 32%;
    /* margin-bottom: 20px; */
    margin-right: 2%;
}
.cast .one_cast li:last-child {
    margin-right: 0;
}

/* Who */
.who {
    padding: 0 5%;
    font-size: 0.875rem;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -0.01em;
    line-height: 16px;
}
.who h2 {
    padding-top: 16px;
    letter-spacing: normal;
    color: #8abf3f;
    font-size: 1.25rem;
    font-weight: 700;
}
.who h3 {
    font-weight: 500;
    color: #416114;
    margin-top: 6px;
    margin-bottom: 10px;
}
.divider {
    margin: 0 auto;
    width: 90%;
    height: 2px;
    background: #8aa664;
    margin-top: 10px;
    margin-bottom: 12px;

}
.divider_b {
    margin: 0 auto;
    width: 90%;
    height: 2px;
    background: #8aa664;
    margin-top: 4px;
}
.who p {
    color: #cfcfcf;
}

/* Name */
.cast .name h2 {
    color: #8abf3f;
    font-weight: 700;
    font-size: 1.125rem;
    padding-top: 10px;
}
.cast .name p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    margin-top: 6px;
    color: #c3c3c3;
}
.cast .one_cast h3 {
    color: #8abf3f;
    font-weight: 700;
    padding-top: 16px;
    margin-bottom: 4px;
}
.cast .one_cast h3+p {
    margin-bottom: 8px;
    color: #416114;
}
.cast .one_cast .name h2 {
    font-size: 0.875rem;
}
.cast .one_cast p {
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

/* 추가 코딩 */
/* move_tool Script Section */
.move_tool {
    /* background: #111; */
}

.move_tool {
    font-family: 'Noto Sans KR', sans-serif;
}

/* A. 스와이퍼 최상위 구조 클래스 */
.move_tool .swiper-container {
    width: 94%;
    padding-top: 8px;
    padding-bottom: 24px;
}

/* C-1. 스와이퍼 될 slider 각각 내용들 */
.move_tool .swiper-slide {
    /* width: 60px; */
}

/* C-1. 스와이퍼 될 slider 공통 영역 */
.swiper-slide {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
} 
.swiper-slide button {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0.6875rem;
    font-size: 0.75rem;
    font-weight: 400;
    color: #000;
    color: #bfd4a1;
    color: #c3d4ad;
    width: 120px;
    height: 32px;
    /* background: linear-gradient(#8aa664, #8abf3f ,#416114); */
    border: 2px solid #8aa664;
    /* border-radius: 18px; */
    letter-spacing: 0;
    cursor: pointer;
}
.divider_t {
    margin: 0 auto;
    width: 100%;
    height: 2px;
    background: #8aa664;
}
.swiper-slide button:hover {
    font-weight: normal;
    background: #8aa664;
    font-size: 0.813rem;
    color: whitesmoke;
}
.arrow {
    margin-bottom: 18px;
}
.arrow h2 {
    text-align: center;
    font-size: 0.6875rem;
    color: #dadada;
    margin-bottom: 4px;
}
.icon {
    margin: 0 auto;
    width: 16px;
}
.icon i {
    font-size: 18px;
    color: #8aa664;
}

.top {
    width: 40px;
    height: 40px;
    background-color: silver;
    border-radius: 50px;
    font-size: 0.813rem;
    color: #cfcfcf;
    text-align: center;
    padding-top: 6px;
    opacity: 0.8;
    cursor: pointer;

    /* 포지션 */
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 100;
    /* 로딩시 안보이게 */
    display: none;
}
.top i {
    color: #222;
    font-size: 24px;
}