@charset "utf-8";
#contents {
    font-family: 'Noto Sans KR', sans-serif;
    color: #f0f0f0;
}
.content {
    padding: 10px;
}
.video iframe {
    width: 100%;
}
.content h2 {
    font-size: 1.063rem;
    font-weight: 600;
    color: #8abf3f;
}
.content p {
    font-size: 0.875rem;
    margin-top: 16px;
    margin-bottom: 44px;
    font-weight: 400;
    line-height: 1.5;
    color: #f0f0f0;
}
.btn {
    text-align: center;
    margin: auto;
    margin-top: -8px;
    margin-bottom: 28px;
    cursor: pointer;
    width: 55px;
    height: 55px;
    background: #8abf3f;
    border-radius: 50px;
}
.btn img {
    width: 40px;
    padding-top: 4px;
}
.btn p {
    font-size: 0.815rem;
    color: #000;
    font-weight: 500;
    letter-spacing: -0.05em;
}
#more {
    display: none;
}
#c_btn {
    display: none;
}








