@charset "utf-8";
body, html {
    font-family: 'Noto Sans KR', sans-serif;
}
/* Safe Area */
.w1280 {
    width: 1280px;
    margin: 0 auto;
}
/* PC 고정형 */
#wrap {
    max-width: 1920px;
    width: 1920px;
    margin: 0 auto;
}
header {
    position: relative;
}
.main_image {
    margin: 0 auto;
    height: 700px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.logo_gnb_left {
    width: 1170px;
    /* 플롯 */
    float: left;
}
header .logo {
    width: 110px;
    /* 플롯 */
    float: left;
    margin-top: 36px;
}
header nav {
    /* 플롯 */
    float: right;
}
header .gnb {
    color: #b2e2e4;
    font-weight: 400;
}
header .gnb li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0px;
    width: 154px;
    margin-top: 43px;
    padding-left: 50px;
}
header .gnb li:nth-child(2) {
    width: 130px;
}
header .gnb li:nth-child(3) {
    width: 124px;
}
header .gnb li:nth-child(4),
header .gnb li:nth-child(5) {
    width: 82px;
}
header .gnb li:nth-child(6) {
    width: 78px;
}
header .gnb li a {
    display:inline-block;
}
header .gnb li a:hover {
    color: #fffefe;
    font-weight: 700;
    cursor: pointer;
}
header .search {
    /* width: 50px; */
    margin-top: 39px;
    text-align: right;
    /* 플롯 */
    float: right;
}

header .img_deco {
    padding-left: 20px;
}
header .img_deco h2 {
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    margin-top: 214px;
}
header .img_deco h3 {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -0.025em;
    margin-top: 14px;
}
header .img_deco p {
    font-size: 14px;
    color: #d7d7d7;
    margin-top: 26px;
}
header .img_deco p+p {
    margin-top: 6px;
}
header .img_deco .shop_btn h3 {
    margin-top: 22px;
    font-size: 14px;
    width: 152px;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    background: #014146;
    font-weight: 500;
    cursor: pointer;
}
.card_box {
    background-color:#92acad;
}

/* 3단 Card Box */
.card_box {
    margin-top: 149px;
}
.card_box .card_box_view {
    width: 400px;
    height: 500px;
    /* 플롯 */
    float: left;
    margin-left: 40px;
    /* 포지션 */
    position: relative;
    left: 0;
    top: -180px;
    z-index: 1;
}
.card_box .card_box_view .card {
    margin-top: 100px;
}
.card_box .card_box_view:first-child {
    margin-left: 0;
}
.card_box_view .card .card_txt {
    padding-left: 20px;
    padding-bottom: 24px;
    background: #fff;
}
.card_box_view .card .card_txt p {
    padding-top: 32px;
    font-size: 12px;
    font-weight: 300;
    color: #959595;
    padding-bottom: 14px;
}
.card_box_view .card .card_txt h2 {
    font-size: 24px;
    font-weight: 700;
    color: #555;
    padding-bottom: 50px;
}
.card_box_view .card .card_txt h3 {
    font-size: 14px;
    width: 152px;
    padding: 16px 0;
    text-align: center;
    color: #fff;
    background: #01494e;
    font-weight: 500;
    cursor: pointer;
    z-index: 99;
}
.card_box_view .card .card_txt h3:hover {
    background: #014146;
}

/* CardBox Text */
.card_box .card_box_info {
    padding-bottom: 60px;
}
.card_box .card_box_info h2 {
    font-size: 12px;
    color: #e7e7e7;
    font-weight: 400;
    /* 플롯 */
    float: left;
}

.card_box .card_box_info .view_btn {
    color: #e7e7e7;
    /* 플롯 */
    float: right;
}
.card_box .card_box_info h4+i {
    color: #e7e7e7;
    font-size: 18px;
    margin-bottom: 2px;
}

/* Section Artist  */
.artist {
    padding: 100px 0 130px;
}
.artist .artist_text {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #6f6f6f;
    margin-bottom: 78px;
    line-height: 1.2;
}
.artist .artist_text p {
    font-weight: 400;
    padding-top: 24px;
    letter-spacing: -0.02em;
    color: #acacac;
}
.artist_tab {
    width: 580px;
}
.artist_tab h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 46px;
}
.artist_tab {
    /* 위치기준값 */
    position: relative;
}
.artist_tab nav ul {
    border-bottom: 1px solid #000;
    margin-bottom: 56px;
}
.artist_tab nav ul li {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-left: 72px;
    padding-bottom: 18px;
    cursor: pointer;
    /* 플롯 */
    float: left;
}
.artist_tab nav ul li:first-child {
    margin-left: 30px;
    color: #01494e;
}

.artist_tab .circle {
    background: #01494e;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    bottom: -6px;
    left: 88px;
    z-index: 2;
}

.artist_intro {
    margin-bottom: 82px;
}
.artist_intro p {
    color: #898989;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: -0.02em;
}
.artist_intro p:first-child {
    margin-bottom: 44px;
}
.artist_intro:nth-child(3),
.artist_intro:nth-child(4) {
    display: none;
}
.view_btn {
    font-size: 14px;
    font-weight: 500;
    color: #636363;
    letter-spacing: -0.02em;
}
.view_btn h4 {
    padding-top: 2.5px;
    padding-right: 6px;
    /* 플롯 */
    float: left;
}
.view_btn i {
    font-size: 18px;
    color: #01494e;
    /* 플롯 */
    float: left;
}
.artist_left {
    /* 플롯 */
    float: left;
}
.artist_right {
    /* 플롯 */
    float: right;
}
.artist_right img:last-child {
    margin-left: 36px;
}
.artist_right:nth-child(3),
.artist_right:nth-child(4) {
    display: none;
}

/* Article MOV */
.mov {
    width: 100%;
    height: 560px;
    background-image: url("../images/video_back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* 위치기준값 */
    position: relative;
}
.mov .video #diptyque_video{
    width: 1060px;
    background: #e4dede;
    /* height: 560px; */
    /* 포지션 */
    position: absolute;
    top: 290px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

/* 제어버튼 */
#dip_btn {
    position: absolute;
    left: 50%;
    top: 95%;
    z-index: 999;
    transform: translateX(-50%);
    border: none;
    background: none;
    outline: none;
}

#dip_btn i {
    /* background: red; */
    font-size: 96px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

#dip_btn i:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* Best */
.best {
    padding-top: 402px;
    padding-bottom: 100px;
}
.best_left {
    /* 플롯 */
    float: left;
}
.best .best_left img:first-child {
    margin-right: 36px;
}
.best .best_left img:last-child {
    margin-right: 110px;
}
.best_right {
    /* 플롯 */
    float: left;
}
.best_right h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 42px;
}
.best_right h3 {
    font-size: 14px;
    font-weight: 500;
    color: #434343;
    margin-bottom: 14px;
}
.best_right p {
    font-size: 14px;
    font-weight: 300;
    color: #898989;
    line-height: 1.7;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.best_right .add {
    color: #696969;
    margin-bottom: 0;
}
.line {
    margin: 30px 0;
    width: 150px;
    height: 1px;
    background: #01494e;
}
.best_right p:nth-child(8) {
    margin-bottom: 40px;
}

/* FAQ */
.faq {
    height: 692px;
    background-color: #e1e1e1;
    padding: 74px 0 120px 0;
}
.faq_left {
    width: 550px;
    /* 플롯 */
    float: left;
}
.faq_left h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 46px;
}
.faq_left .faq_box:first-child h3 {
    margin-top: 0;
}
.faq_contents h3 {
    font-size: 16px;
    font-weight: 400;
    color: #636363;
    margin: 36px 0 37px;
    cursor: pointer;
}
.faq_contents p {
    padding-left: 18px;
    padding-bottom: 34px;
    font-size: 14px;
    color: #898989;
    line-height: 1.7;
    letter-spacing: -0.02em;
}
.faq_box {
    border-bottom: 1px solid #555;
}
.faq_box p {
    display: none;
}
.faq_box:nth-child(2) p {
    display: block;
}
.faq_right {
    /* 플롯 */
    float: right;
}
.faq_right h2 {
    font-size: 36px;
    font-weight: 700;
}
.faq_right_title:first-child {
    margin-top: 66px;
}
.faq_right_title img {
    /* 플롯 */
    float: left;
}
.faq_right_title h3 {
    /* 플롯 */
    float: left;
}
.faq_right_wrap {
    padding-left: 20px;
}
.faq_right_wrap h3 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 22px;
    margin-bottom: 32px;
    margin-left: 20px;
}
.faq_right_wrap p {
    padding-left: 0;
    font-size: 14px;
    font-weight: 400;
    color: #898989;
    padding-bottom: 76px;
}


/* Aside Banner */
.banner {
    width: 100%;
    height: 230px;
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner_img .banner_left {
    margin-left: 20px;
    float: left;
}
.banner_img h2 {
    padding-top: 86px;
    font-size: 32px;
    font-weight: 700;
}
.banner_img p {
    padding-top: 10px;
    color: #cecece;
    font-size: 16px;
    font-weight: 500;
}
.banner_right {
    width: 152px;
    padding: 18px 0;
    margin-top: 90px;
    text-align: center;
    float: right;
    color: #fff;
    font-weight: 500;
    background: #000;
    cursor: pointer;
}

/* Footer */
.footer {
    background-color: #000;
    color: #e1e1e1;
    padding-top: 100px;
}

.footer .footer_logo {
    width: 440px;
}
.footer .footer_logo dt {
    margin-bottom: 24px;
}
.footer .footer_logo dd {
    font-size: 14px;
    color: #e1e1e1;
    line-height: 24px;
    margin-bottom: 26px;
}
.footer .footer_logo .sns {
    font-size: 34px;
    color: #989898;
    display: inline-block;
    margin-right: 20px;
}
.footer .footer_logo .sns:hover {
    color: #005f65;
}


/* footer 서비스 */
.footer .footer_services {
    width: 202px;
}
.footer .footer_services dt {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_services dd {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
.footer .footer_services dd a:hover {
    color: #92acad;
}

/* footer 오더스 */
.footer .footer_orders {
    width: 216px;
}
.footer .footer_orders dt {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_orders dd {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
.footer .footer_orders dd a:hover {
    color: #92acad;
}

/* footer 뉴 */
.footer .footer_new {
    width: 258px;
}
.footer .footer_new dt {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_new dd {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
.footer .footer_new dd a:hover {
    color: #92acad;
}

/* footer 모스트 */
.footer .footer_most {
    width: 110px;
}
.footer .footer_most dt {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer .footer_most dd {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 18px;
}
.footer .footer_most dd a:hover {
    color: #92acad;
}

/* Copyright */
.footer .copyright {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer .copyright_line {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}

/* 플롯레이아웃 */
.footer_logo,
.footer_services,
.footer_orders,
.footer_new,
.footer_most {
    /* 플롯 */
    float: left;
}
.copyright {
    clear: both;
}
/* color: #01494e; */