@charset "utf-8";
:root {
    --text-color: #223050;
    --background-color: #f9f9f9;
    --accent-color: #ffb738;
    --dark-gray-color: #808080;
    --light-gray-color: #b3b6bb;
    --gray-divider-color: #ccc;
    --tab-bg-on-color: #fbfbfb;
    --tab-bg-off-color: #f3f3f5;
    --pc-tab2-padding: 0 1.6rem;
    --padding-30: 0 4.6875vw;
    --white-color: #fff;
}
html {
    font-size: 62.5%;
}
body, html {
    font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
    letter-spacing: -0.025em;
}
body {
    position: relative;
}

.p30 {
    padding: 0 4.6875vw;
}

/* Header */
header {
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    border-bottom: 0.2rem solid #ededed;
    background: var(--white-color);
}
header img {
    vertical-align: middle;
}

/* Hambuger menu */
input[id="menuBtn"] {
    display: none;
}
input[id="menuBtn"]+label {
    display: block;
    cursor: pointer;
    width: 5.2rem;
    height: 2.8rem;
    position: absolute;
    top: 3.6rem;
    right: 4.6875vw;
}
input[id="menuBtn"]+label span {
    display: block;
    width: 100%;
    height: 0.4rem;
    background: #000;
    border-radius: 5.0rem;
}
input[id="menuBtn"]+label span:nth-child(2) {
    margin: 0.8rem 0;
    background: var(--accent-color);
}

/* LNB */
.m_lnb {
    line-height: 0;
    width: 75vw;
    height: 100%;
    padding: 6.3rem 0 0 8.4375vw;
    background: var(--white-color);
    position: absolute;
    left: -140rem;
    top: 0;
    bottom: 0;
    z-index: 999;
    transition: all 0.3s;
}
.submenu {
    margin: 4.5rem 0 13.4rem 3.125vw;
}
.submenu li {
    margin-bottom: 3rem;
}
input[id="menuBtn"]:checked +label+.m_lnb {
    left: 0;
}
.m_closeBtn {
    width: 6.4vw;
    position: absolute;
    top: 3rem;
    right: -11.40625vw;
    z-index: 3;
}
.dim {
    display: none;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s;
}
input[id="menuBtn"]:checked +label+.m_lnb+.dim {
    display: block;
    z-index: 2;
}

/* PC_LNB */
.pc_lnb {
    display: none;
}

main {
    background: var(--white-color);
}
/* Category */
main h1 {
    padding-left: 3.7rem;
}
h1 img {
    margin: 4rem 0 2.8rem; 
}

/* Tab */
.tabs {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 7.2rem;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    background: var(--tab-bg-off-color);
}
.tabs button {
    flex-grow: 1;
    cursor: pointer;
    border-top: 0.4rem solid #c8cccf;
    border-bottom: 0.2rem solid #c8cccf;
    background: var(--tab-bg-off-color);
    padding: 1.4rem 1.6rem;
}
.tabs .tab.on {
    background: var(--tab-bg-on-color);
    border-top: 0.4rem solid #323335;
    border-right: 0.2rem solid #323335;
    border-bottom: 0;
}
.tabs .tab:nth-child(2).on {
    border-right: 0;
    border-bottom: 0;
    border-left: 0.2rem solid #323335;
}

/* Popular_blog */
.tabcontent {
    border-top: none;
    background-color: var(--background-color);
    padding-top: 1.6rem;
}
.blog {
    background: var(--white-color);
    border-bottom: 0.2rem solid #efeef2;
    padding-bottom: 2.4rem;
    margin-bottom: 1.6rem;
}
.blog_img {
    display: none;
}
.blog h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--text-color);
    padding-top: 4rem;
    line-height: 4.2rem;
}
.blog h2 img {
    padding-top: 0.3rem;
}
.blog .id_name {
    font-size: 2.6rem;
    color: var(--light-gray-color);
    margin: 1.6rem 0 3.6rem;
}

/* Tags */
.tags {
    font-size: 2.6rem;
    font-weight: 400;
    display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.tags li {
    color: var(--dark-gray-color);
    margin-bottom: 1.2rem;
}
.tags li a {
    margin-right: 2.8vw;
}
.tags li:last-child a {
    margin-right: 0;
}
.tags li a[href*="diligent"] {
    color: #009179;
}
.tags li a[href*="rich"] {
    color: #5b63d1;
}
.tags li a[href*="kind"] {
    color: #c3aa12;
}
.tags li a[href*="issue"] {
    color: #6a2c2e;
}

/* Tab Content 2 */
#tab2 {
    display: none;
    padding-top: 4rem;
    background-color: var(--background-color);
}
#tab2 .best {
    margin-bottom: 1.4rem;
}

/* Best */
#tab2 .best {
    padding: var(--padding-30);
}
.best_container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column nowrap;
}
.best_main_content .best_content {
    width: 100%;
}
.best_sub_content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
}
.best_sub_content .best_content:nth-child(1),
.best_sub_content .best_content:nth-child(3) {
    margin-right: 0.2rem;
}
.best_content {
    position: relative;
}
.best_content {
    width: calc(50% - 0.1rem);
    margin-bottom: 0.2rem;
}
.best_sub_content .best_content:nth-child(3),
.best_sub_content .best_content:nth-child(4) {
    margin-bottom: 0;
}
.best_content>a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.best_content>p::before {
    width: 100%;
    height: 6.7rem;
    content: "";
    display: block;
    background: #000;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.best_main_content .best_content>p::before {
    height: 13.4rem;
}
.best_content a img {
    width: 100%;
}
.best_content p a {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: var(--white-color);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 11;
    margin: 1.6rem 0 1.6rem 2.96875vw;
}
.best_main_content .best_content p a {
    font-size: 2.5rem;
    line-height: 3.5rem;
    margin: 3.8rem 0 3rem 6.09375vw;
}

/* New and Ranking */
.newAndRanking_title {
    margin-bottom: 1.4rem;
}
/* New */
.new {
    margin-top: 3.8rem;
}
.new_content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background: var(--white-color);
}
.new_content>.swiper-container {
    position: relative;
    width: 50%;
}
.new_content .swiper-content {
    
}
.new_content  .swiper-wrapper {
    text-align: center;
}
.new_content .swiper-container h2 {
    font-size: 2rem;
    margin: 1.3rem 1rem 1.5rem 1.3rem;
    color: var(--dark-gray-color);
}

/* Slider1 */
.swiper1>.swiper-wrapper>.swiper-slide {
    padding: 0 3.6rem 2.1rem 3.6rem;
}
.swiper1>.swiper-wrapper>.swiper-slide>a>img {
    width: 100%;
}

/* Slider2 */
.swiper2>.swiper-slide a {
    /* float: left; */
}
.swiper2>.swiper-wrapper>.swiper-slide>a>img {
    width: 50%;
    margin: 0 auto;
}
.new_content .swiper2 .swiper-wrapper .swiper-slide .text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: 700;
    margin: 2.3rem 3.6rem 2.1rem 3.6rem;
    text-align: left;
}


/* Swiper Button */
.swiper-button-next::after, .swiper-button-prev::after {
    display: none;
}
.new_content .swiper-button-prev,
.new_content .swiper-button-next {
    position: absolute;
    top: 50%;
    z-index: 20;
    cursor: pointer;
    padding: 0 1.6rem;
}
.new_content .swiper-button-prev {
    left: 0;
}
.new_content .swiper-button-next {
    right: 0;
}


/* Ranking */
.ranking {
    margin: 4rem 0 4.3rem;
}
.ranking ol {
    padding: 1.6rem 0.7rem 1.8rem 1.4rem;
    background: var(--white-color);
}
.ranking ol li {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}
.ranking ol li:last-child {
    margin-bottom: 0;
}
.ranking ol li div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 1.8rem;
    font-weight: 700;
}
.ranking ol li div a span {
    font-weight: 700;
    color: #ffcb54;
    margin-right: 2.5vw;
}
.ranking ol li img {
    height: fit-content;
}

/* Banner */
/* Banner Slide */
#banner {
    width: 100%;
    height: 100%;
    padding: 0 4.6875vw;
    padding-bottom: 54.1rem;
}
#banner .swiper-wrapper img {
    width: 100%;
}
/* Banner Pager */
#banner .swiper-button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center; 
    margin-top: 1.6rem;
}
#banner .swiper-button-prev,
#banner .swiper-button-next {
    position: static;
    width: 4.2rem;
    height: 4.1rem;
    margin: 0 2.3rem;
    z-index: 10;
    cursor: pointer;
}
#banner .swiper-button-next {
    background: url('images/controls.png') no-repeat -4.2rem 0;
}
#banner .swiper-button-prev {
    background: url('images/controls.png') no-repeat 0 0;
}

/* Footer */
footer {
    width: 100%;
}
footer p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.4375vw;
    color: var(--dark-gray-color);
    text-align: center;
    background: #f1f1f1;
    padding: 3.8rem 4rem;
}

/* PC 1280px */
@media screen and (min-width:80rem) {
    .p30 {
        padding: 0;
    }

    /* Header */
    header {
        height: 6.6rem;
        line-height: 6.6rem;
        border-bottom: 0.1rem solid var(--gray-divider-color);
    }
    header .logo {
        width: 12rem;
        height: 2.4rem;
        margin-left: 2.6rem;
    }

    /* Hambuger menu */
    input[id="menuBtn"]+label {
        display: none;
    }

    /* LNB */
    .m_lnb {
        display: none;
    }
    .pc_lnb {
        position: relative;
        display: block;
    }
    .pc_sidemenu {
        width: 24rem;
        width: 0;
        height: 100%;
        line-height: 0;
        background: var(--white-color);
        overflow: hidden;        
        padding-top: 4.6rem;
        border: 0;
        transition: all 0.3s;
        /* 스크린 리더에서도 안 읽히게 */
        visibility: hidden;
    }
    .pc_sidemenu .pc_lnb_title {
        height: 1.8rem;
    }
    .submenu>li>a>img {
        height: 1.5rem;
    }
    .submenu {
        margin: 2.1rem 0 6.7rem 3.6rem;
    }
    .submenu li {
        margin-bottom: 1.4rem;
    }

    .pc_closeBtn {
        position: absolute;
        top: 9.9rem;
        right: -3.4rem;
        background: #ffcc56;
        padding: 14rem 0.7rem 14rem 0.5rem;
        border: 0.1rem solid #f8bb4f;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        box-shadow: 0 0.2rem 0.3rem #bdbdbd;
        cursor: pointer;
    }
    .pc_sidemenu.active {
        width: 24rem;
        padding: 4.6rem 0 0 2.6rem;
        border-right: 0.1rem solid var(--gray-divider-color);
        visibility: visible;
    }

    /* Main */
    main {
        display: flex;
        background-color: var(--background-color);
    }
    
    /* Main_content */
    .main_content  {
        flex-grow: 1;
        max-width: 94.4rem;
        padding-bottom: 6rem;
    }
    main h1 {
        padding-left: 3.7rem;
    }
    h1 img {
        margin: 4.6rem 0 2.2rem;
        width: 17.1rem;
    }

    .main_container {
        margin: 0 4.5rem;
        border: 0.1rem solid #c6cbce;
        border-top: 0;
    }

    /* Tab */
    .tabs {
        height: 4.6rem;
    }
    .tabs button {
        border-top: 0.2rem solid #c8cccf;
        border-bottom: 0.1rem solid #c8cccf;
        padding: 0;
    }
    .tabs .tab.on {
        border-top: 0.2rem solid #323335;
        border-right: 0.1rem solid #c8cccf;
    }
    .tabs .tab:nth-child(2).on {
        border-left: 0.1rem solid #c8cccf;
    }
    .tabs img {
        height: 1.6rem;
    }

    .tabcontent {
        border-top: none;
        background-color: var(--tab-bg-on-color);
        padding-top: 1.4rem;
    }

    /* Blog */
    .blog {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        height: 17.6rem;
        position: relative;
        border: 0.2rem solid #efeef2;
        border-top: 0;
        margin: 0 1.8rem 1.1rem;
        padding: 0;
        padding-bottom: 2rem;
    }
    .blog:last-child {
        margin-bottom: 1.6rem;
    }
    .blog_img {
        display: block;
        margin-right: 3.8rem;
    }
    .blog h2 {
        font-size: 2rem;
        padding-top: 2rem;
        line-height: normal;
    }
    .blog h2 img {
        width: 1.6rem;
        margin-top: 0.4rem;
        padding-top: 0;
    }
    .blog .id_name {
        font-size: 1.4rem;
        color: var(--light-gray-color);
        margin: 0.7rem 0 0;
    }

    /* Tags */
    .tags {
        position: absolute;
        font-size: 1.4rem;
        font-weight: 700;
        bottom: 0;
    }
    .tags li {
        color: var(--white-color);
        margin-bottom: 2.2rem;
    }
    .tags li a {
        background: var(--light-gray-color);
        border-radius: 0.2rem;
        padding: 0.5rem 1rem;
        margin-right: 0.6rem;
    }
    .tags li:last-child a {
        margin-right: 0;
    }
    .tags li a[href*="diligent"] {
        color: var(--white-color);
        background: #86bbb2;
    }
    .tags li a[href*="rich"] {
        color: var(--white-color);
        background: #9da3d7;
    }
    .tags li a[href*="kind"] {
        color: var(--white-color);
        background: #ccc76c;
    }
    .tags li a[href*="issue"] {
        color: var(--white-color);
        background: #a37a7b;
    }

    /* Tab Cotent2 */
    /* Best */
    #tab2 .best {
        padding: var(--pc-tab2-padding);
    }
    #tab2 .best img {
        width: 5.3rem;
        height: 1.8rem;
    }
    .best_container {
        flex-flow: row nowrap;
        padding: var(--pc-tab2-padding);
    }
    .best_main_content, .best_sub_content {
        width: 50%;
    }
    .best_sub_content {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-flow: row wrap;
    }
    .best_sub_content .best_content:nth-child(1),
    .best_sub_content .best_content:nth-child(3) {
        margin: 0 0.2rem;
    }
    .best_content {
        width: calc(50% - 0.2rem);
        margin-bottom: 0;
    }
    .best_content>p::before {
        height: 5.2rem;
    }
    .best_main_content .best_content>p::before {
        height: 10.5rem;
    }
    .best_content p a {
        font-size: 1.2rem;
        line-height: 1.4rem;
        margin: 1.3rem 0 1.27rem 1.1vw;
    }
    .best_main_content .best_content p a {
        font-size: 2rem;
        line-height: 2.8rem;
        margin: 2.9rem 0 2.2rem 2.9rem;
    }

    /* New and Ranking */
    .newAndRanking {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row-reverse;
        padding: var(--pc-tab2-padding);
    }

    /* Margin Reset */
    .new {
        margin-top: 0;
    }
    .ranking {
        margin: 0 1rem 0 0;
    }
    .new, .ranking {
        margin: 6rem 0 7.8rem 0;
        width: calc( 50% - 0.5rem );
    }

    /* New */
    .new h2 img {
        width: 5rem;
    }

    /* New Slider */
    .new_content {
        width: 100%;
        display: block;
    }
    .new_content>.swiper-container {
        width: 100%;
        position: relative;
    }
    .new_content .swiper-content {
        margin: 0 4rem 1rem 4rem;
        overflow: hidden;
    }
    .new_content .swiper-container h2 {
        font-size: 1.4rem;
        margin: 1.1rem 0 0.7rem 1rem;
    }

    /* Slider1 */
    .swiper1>.swiper-wrapper>.swiper-slide {
        padding: 0 3.6rem 2.1rem 3.6rem;
        padding: 0;
    }
    .swiper1>.swiper-wrapper>.swiper-slide>a>img {
        width: 100%;
    }

    /* Slider2 */
    .swiper2>.swiper-wrapper>.swiper-slide a {
        float: left;
        width: 40%;
    }
    .swiper2>.swiper-wrapper>.swiper-slide>a>img {
        width: 100%;
    }
    .new_content .swiper2 .swiper-wrapper .swiper-slide .text {
        float: right;
        width: calc( 60% - 1rem );
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.76rem 0 0 1rem;
    }

    /* Swiper Button */
    .new_content .swiper-button-prev,
    .new_content .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(0.5rem);
        z-index: 20;
        cursor: pointer;
        padding: 0 1.6rem;
    }


    /* Ranking */
    .ranking {
        margin-right: 1rem;
    }
    .ranking h2 img {
        width: 10rem;
    }
    .ranking ol {
        padding: 0 0 0 1rem;
    }
    .ranking ol li {
        padding: 1.1rem 0 0.8rem;
        padding: 0.94rem 0 0.7rem;
        border-bottom: 0.1rem solid #eee;
        margin-bottom: 0;
    }
    .ranking ol li div {
        font-size: 1.4rem;
    }
    .ranking ol li div a span {
        color: #000;
        margin-right: 0.683594vw;
    }
    .ranking ol li img {
        height: 1.3rem;
        margin-right: 1.1vw;
    }

    /* Banner */
    /* Banner Slide */
    #banner {
        padding: 0 0 4rem 0;
    }
    /* Banner Pager */
    #banner .swiper-button {
        margin-top: 0;
    }
    #banner .swiper-container {
        padding-bottom: 0;
    }
    #banner .swiper-button-prev,
    #banner .swiper-container-rtl .swiper-button-next {
        left: 18.8rem;
        right: auto;
    }
    #banner .swiper-button-next,
    #banner .swiper-container-rtl .swiper-button-prev {
        right: 18.8rem;
        left: auto;
    }
    #banner .swiper-button-prev,
    #banner .swiper-button-next {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        position: absolute;
        top: 50%;
        margin: 0;
        margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    }
    /* Bullets */
    #banner .swiper-pagination {
        display: none;
    }

    /* Footer */
    footer p {
        font-size: 1.3rem;
        height: 5rem;
        line-height: 5rem;
        padding: 0;
    }
}