@charset "UTF-8";
@import url(./font.css);

/* CSS 초기화 */
html,
body,
div,
span,
iframe,
h1,h2,h3,h4,h5,h6,
p,
blockquote,
pre,
cite,
code,
del,
em,
img,
ins,
q,
small,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

article,
aside,
details,
figure,
figcaption,
footer,
header,
nav,
section {
    display: block;
}

ul,li {
    list-style: none;
}

a {
    font-size: 100%;
    text-decoration: none;
    color: inherit;
    background: none;
    vertical-align: baseline;
}

img {
    vertical-align: top;
}

button {
    background: none;
}

hr {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

input,
textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

* {
    box-sizing: border-box;
}

/* 플롯 해제 */
.cf::after {
    content: "";
    display: block;
    clear: both;
}

.no_mt {margin-top: 0 !important;}
.no_mr {margin-right: 0 !important;}
.no_mb {margin-bottom: 0 !important;}
.no_ml {margin-left: 0 !important;}

.no_pt {padding-top: 0 !important;}
.no_pr {padding-right: 0 !important;}
.no_pb {padding-bottom: 0 !important;}
.no_pl {padding-left: 0 !important;}

.no_bdt {border-top: none !important;}
.no_bdr {border-right: none !important;}
.no_bdl {border-left: none !important;}
.no_bdb {border-bottom: none !important;}

.blind {
    display: inline-block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.legend {
    position: absolute;
    left: -9999px;
}
.caption {
    display: none;
}