@charset "utf-8";
html {
    font-size: 62.5%;
}
body {
    font-family: 'Noto Sans KR',sans-serif;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
}

#header {
    padding: 10px 5px;
}
/* Header Area */
#header h1 {
    font-size: 2.1rem;
    line-height: 2;
    color: #222;
    font-weight: 600;
    letter-spacing: -1.5px;
    font-family: 'Roboto', sans-serif;
}
#header ul {
    margin: 20px 0 10px;
}
#header ul li {
    margin: 10px 0;
}
#header ul li a {
    font-size: 1.4rem;
    color: #555;
}

/* GNB 토글효과 1*/
/* #header {
    /* 위치기준값 */
    /* position: relative; */
/* } */
/*#header label {
    /* label 속성 : inline */
    /* display: block;
    /* inline은 w,h값이 안 먹기 때문에 block으로 바꿔줘야함 */
    /* width: 32px;
    height: 32px;
    line-height: 32px;
    color: #222;
    border: 1px solid #222;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    /* position */
    /* position: absolute;
    right: 10px;
    top: 4px;
    z-index: 1; */
/* } */
#c_checkbox {
    display: none;
}

/* 초기 로딩상태일때 조건 */
#c_checkbox:checked+nav {
    display: none;
}

/* 클릭시 GNB 보이도록 코딩 */
#c_checkbox+nav {
    /* display none 반대 block */
    display: block;
}

/* Contents 1 Area */
#main_content {
    background: lightblue;
    padding: 40px 15px 30px;
    font-size: 1.4rem;
}
#main_content h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
#main_content p {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
}

/* Contents 2 Area */
#sub_content {
    padding: 30px;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 20px;
}
#sub_content p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}
#sub_content img {
    width: 98%;
    display: block;
    margin: 10px auto;
}

/* Footer Area */
#footer {
    padding-top: 40px;
}
#footer footer {
    font-size: 1.1rem;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background: #323232;
}

/* Header+add */
.ham {
    cursor: pointer;
    /* 플롯 */
    float: left;
}
.search {
    /* 플롯 */
    float: right;
}
.logo {
    text-align: center;
}